body{
margin: 0;
padding:0;
font-size: 13px;
font-family:Arial, Helvetica, sans-serif;
}
header{
    width:100%;
    height:55px;
}
header nav{
    background-color:white;
    /*mover al elemento*/
    display:flex; /*nos permite que el elemento sea flexible
    para darle más instrucciones a continuación*/
    justify-content:flex-end; /*mueve los elementos a la derecha]*/
    margin-left: -50px;

}
header nav .nav-right-section{
    background-color:white;
    list-style: none; /*elimina viñetas*/
    width:250px;
    display:flex; /*se ponen en línea*/
    justify-content:center;
    align-items:center;
    /*centrar la lista (texto e imagen) en el cuadro de la derecha*/
    height: auto; /*por precaución, no indispensable*/

}
.profilep{
    width: 32px;
    border-radius: 50%;
}

nav .nav-right-section a{
    color:black; /*color de texto*/
    text-decoration: none; /*eliminar el subrayado*/
    margin-right:15px; /*margen derecho*/
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 22px;
    height:22px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 13px;
}

nav .nav-right-section img{
    margin-left:20px;
    margin-right:-20px;
    
}

main{
    text-align: center;
    margin-top: -150px;
}

/*logo*/
main .main-logo .big-google{
    height: auto;
    width: 355px;
    margin-top: 160px;
    /*margin-top:65px;*/
}

main .main-input{
    width:503px;
    margin: 0 auto;
    margin-top: -107px;
    margin-bottom: 40px;
}

/*caja gris redondeada*/
main .main-input-container{
    border:1px solid #dfe1e5; /*ancho de línea, estilo y color*/
    border-radius:100px;
    width: 550px;
    margin-left: -25px;
    width: 580px;
    margin-left: -38px;
    margin-right: 0;
    
}

main .main-input input{
    background-color: none;
    height: 43px;
    width: 425px;
    border:none;
    outline:none; 
    margin-right:20px;
    padding-right: 0px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    

}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position:center;
    width:15px;
    background-size: contain;
    padding-left: 6%;
    margin-left: -75px;
    background-repeat: no-repeat;
    margin-right: 0%;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 17px;
    height:17px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left:0px;
    padding: 2px;
    padding-right:4%;
    margin-right: 6px;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width:17px;
    height:17px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: -70px;
    padding: 2px;
    padding-left:5px;
    padding-right:6%;

}

main .main-buttons{
    background-color:none;
    width: 550px; 
    margin: auto auto; 

}

main .main-buttons div{
    display: inline-block; /*elementos en mismo renglón*/
}

main .main-buttons button{
    border: 0;
    height: 35px;
    background-color: #f8f9fa;
    font-size:14px;
    color:#3c4043;
    border-radius:4px;
    margin-right:8px;
    padding:0 15px;
}

main .main-input-container:hover{
    box-shadow: 0px 1px 4px #20212447;
}

main .main-buttons button:hover{
    color:#202124;
    border:1px solid #dadce0;
}

footer{
    background-color: #f5f5f5;
    position: absolute;
    width: 100%;
    bottom: 0%;
    

}

footer .line-footer{
    border:0.5px solid rgb(224, 224, 224);
    margin-bottom:0px ;
    
}

footer .footer-left{
    height: 13px;
    font-size: 15px;
    color:rgb(114, 114, 114);
    margin-top: 15.5px; 
    margin-bottom: 19.5px; 
    margin-left: 30px;
}

.underline{
    display:flex;
    flex-direction:unset;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
    padding: 0%;
    justify-content:flex-start;
    align-items:center;
}

.underline a{
    text-decoration: none;
    color:rgb(114, 114, 114);   
}

.underline-left{
    display: flex;
    justify-content:flex-start;
    list-style: none;
    float:left;
    width: 65%;
    padding-left: 2.35%;
    
}

.underline-right{
    display: flex;
    justify-content:flex-start;
    list-style: none;
    float:right;  
    padding-left: 11%;
    
}

.underline-right ul {
    justify-content: flex-start;
    display: flex;
  }
  
  .underline-right ul li {
    list-style-type: none;
    text-align: left;
    
  }
  
  .underline-right ul li:first-child {
    flex: 1;  
  }
  
  
  .underline-right ul li a {
    padding: 10px;
    
  }


.underline-right a{ 
    float:right;
}





    


/*Menu desplegable*/
.dropdown{
    display:inline-block;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 1%;
}

/*.dropdown-content div{
    display: flex;
    justify-content: flex-start;

}*/

.dropdown button{
    border: none;
    color:rgb(114, 114, 114) ;
    font-size: 14px;
    background-color: #f5f5f5;
    margin-right:-3.58px ;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 180px;
    background-color: white;
    overflow: auto;
    box-shadow: 1px 1px 9px rgba(0,0,0,0.4);
    z-index:1;
    min-width:160px;
    border-radius:3% ;
   /* border:1px solid #202124;*/
}

.dropdown:hover .dropdown-content{
    display:block;
}

.dropdown-content a{
    display:block;
    color:#000000;
    padding: 1px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: left;
    text-align: left;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.dropdown-content a:hover{
    color: #EEEEEE;
    background-color: #f5f5f5;
}

.dropdown-content{
    bottom: 100%;
    margin:0px;
}

footer .pref-line{
    border:0.5px solid rgb(224, 224, 224);
    margin-bottom:-10px ;
}